html {
  box-sizing: border-box;
}
html,
body {
  font-size: 14px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: Sans-serif, Helvetica Neue, Arial, Helvetica;
  color: #4D4D4D;
  margin: 0;
}
.palette__section {
  
}
.palette__color {
  display: inline-block;
  height: 250px;
  width: 20%;
  padding: 0;
}
.palette__title {
  text-decoration: underline;
  font-size: 1.5em;
  text-align: center;
}
.palette__keyword {
  text-transform: uppercase;
  text-align: center;
}
.color__span {
  position: relative;
  left: 5px;
  top: 5px;
  color: #fff;
  margin: 5px auto;
  text-shadow: -1px -1px 0 #000,
                1px -1px 0 #000,
                -1px 1px 0 #000,
                 1px 1px 0 #000;
}
.artsy__span {
  position: relative;
  top: 230px;
  right: 50px;
  color: #fff;
  text-shadow: -1px -1px 0 #000,
                1px -1px 0 #000,
                -1px 1px 0 #000,
                 1px 1px 0 #000;
}