html {
  box-sizing: border-box;
}
html,
body {
  font-size: 14px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
  color: #4D4D4D;
}
.color__scheme {

}
.color__schemes {
  display: inline-block;
  list-style-type: none;
}